# Go
/dirigent
control-plane/dirigent
orchestrator/orchestrator

# Air hot reload
control-plane/tmp/

# Node / Bun
**/*/node_modules/
**/*/dist/
**/*/*.tsbuildinfo

**/*/tmp/*

**/*/node_modules
**/*/.vite

api/internal/dashboard/static/*
!api/internal/dashboard/static/zz-placeholder.html
